#BabelFrog-box {
  background-color: #e6ffb3 !important;  /* light blue */
  color:  black !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 3px #888 !important;
  position: absolute !important;
  font-size: 14px !important;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.3em !important;
  text-align: left !important;
  min-width: 1em !important;
  max-width: 50em !important;
  padding: 10px !important;
  margin: 0px 10px 10px -5px !important;
  white-space:  pre-line !important;
  z-index: 2147483647 !important;
  cursor: pointer !important;
}

/* higher contrast than browser default selection styling */
body ::selection {
  color: Black !important;
  background: #cdeeff !important; /* light green */
}

/* when holding alt-key over link, charge cursor */
body.BabelFrog-alt-held a {
  cursor:help !important;
}

/**
 * Support for div.expanded.
 */

#BabelFrog-box div.expanded.collapsed {
  display: none !important;
}

#BabelFrog-box div.expanded {
  margin-top: 12px !important;
}

#BabelFrog-box div.expanded ul.dict {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin-bottom: 10px !important;
  font-size: 13px !important;
}

#BabelFrog-box div.expanded a {
  background-color: black !important;
  color: #fffddd !important;
  border-radius: 2px !important;
  padding: 2px 10px !important;
  margin: 2px 4px 2px 0px !important;
  text-decoration: none !important;
}

#BabelFrog-box div.expanded a:hover {
  background-color: blue !important;
}

#BabelFrog-box div.ellipsis {
  clear: both !important;
  height: 1px !important;
  border-bottom: 1px dotted gray !important;
  color: #fffddd !important;
}
